*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header{
    min-height: 80px;
    min-width: 100vw;
}

#container{
    width: 100vw;
    height: 100vh;
}

.gender{
    left: 10%;
    top: 40px;
    position: absolute;
}

.relative>div>img{
    max-height:40px;
    left: 40%;
    top: 30px;
}

.tools{
    left: 90%;
    top: 40px;
}

.casella{
    height: 18em;
    width: 12em;
    top: 30px;
    background-size: cover;
    background-position: center;

}

#casellaA{
    left: 450px;
    background-image: url(../images-boolando/img/1.webp);
}

#casellaA:hover{
    left: 450px;
    background-image: url(../images-boolando/img/1b.webp);
}

#casellaB{
    left:650px;
    background-image: url(../images-boolando/img/2.webp);
}

#casellaB:hover{
    left:650px;
    background-image: url(../images-boolando/img/2b.webp);
}

#casellaC{
    left:850px;
    background-image: url(../images-boolando/img/3.webp);
}

#casellaC:hover{
    left:850px;
    background-image: url(../images-boolando/img/3b.webp);
}


.casella-2{
    height: 18em;
    width: 12em;
    top: 400px;
    background-size: cover;
    background-position: center;

}

#casellaD{
    left: 450px;
    background-image: url(../images-boolando/img/4.webp);
}

#casellaD:hover{
    left: 450px;
    background-image: url(../images-boolando/img/4b.webp);
}


#casellaE{
    left:650px;
    background-image: url(../images-boolando/img/5.webp);
}

#casellaE:hover{
    left:650px;
    background-image: url(../images-boolando/img/5b.webp);
}

#casellaF{
    left:850px;
    background-image: url(../images-boolando/img/6.webp);
}

#casellaF:hover{
    left:850px;
    background-image: url(../images-boolando/img/6b.webp);
}


.fa-heart{
    left: 85%;
    top: 1em;
}

.fa-heart:hover{
    left: 85%;
    top: 1em;
    color:red;
}

.sconti{
    top:250px;
    font-size: 0.8em;
}

.sostenibilità{
    top: 250px;
    left: 50px;
    font-size: 0.8em;
    font-weight: 800;
}

  #last-sostenibilità{
    left:0px;
  }

  .clothes{
    font-size: 8px;
  }

  .sale-prices{
    text-decoration:line-through;
  }

  .prices{
    top:300px;
  }

  footer{
    top: 65em;
    width: 100vw;
    min-height: 120px;
  }

  #rigaA{
    top: 120px;
  }
  
  #rigaB{
    top: 100px;
  }
  
  .diritti{
    top: 25px;
    left: 100px;
  }

  .diritto{
    top: 50px;
    left: 100px;
  }

  .social{
    top: 35px;
    left: 85%;
  }