header{
    background-color: orange;
    min-height: 100px;
}

.gender{
    left: 10%;
    top: 40px;
    position: absolute;
}

.relative>div>img{
    max-height:40px;
    left: 40%;
    top: 30px;
}

.tools{
    left: 90%;
    top: 40px;
}

.foto{
    min-height: 230px;
    min-width: 150px;
    top: 30px;
}

#fotoA{
    left: 450px;
}

#fotoB{
    left:650px;
}

#fotoC{
    left:850px;
}